body {
    background-color: lightgray;
}

.card {
    background-color: white;
    padding: 8px;
    margin: 0 30%;
}

.s1,.s2,.s3 {
    margin: 8px;
    background-color: lightblue;
    padding: 10px;
}

.s1 {
    font-weight: bolder;
}

.s3 {
    text-align: center;
}

.s3 button {
    border: solid 0.5px grey;
    background-color: white;
    padding:5px;
    width: 20%;
    text-transform: uppercase;
    cursor: pointer;
}