.main {
    text-transform: uppercase;
    margin:0 30%;
}

.one {
    background-color: pink;
    border:solid 4px blue;
    padding: 32px;
    margin: 12px;
}

.two {
    background-color: lightblue;
    border: solid 4px purple;
    margin-bottom: 48px;
}

.three {
    border: solid 4px rgb(150,42,57);
    background-color: rgb(246, 219, 189);
    padding: 32px;
    margin-left: 60%;
}