.information-section {
    display: flex;
}

.title {
    text-align: center;
    margin-bottom: 32px;
}

.all {
    display: flex;
    justify-content: center;
    gap:52px;
}

.img1 img, .img2 img, .img3 img, .img4 img {
    width: 150px;
    height: auto;
}

.img1, .img2, .img3, .img4 {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}